*{
    padding: 0;
    margin: 0;
    font-family: century;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../b.jpg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a{
    background-color: #fff;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span{
    color: gold;
    text-shadow: 1px 1px wheat;
}
.title h1{
    color: #fff;
    font-size: 250%;
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color:#fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: black;
}
main{
    background: rgb(212, 209, 209);
    width: 100%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-top: 0.4%;
    margin-bottom: 0.4%;

}
h2{
    color: rgb(136, 10, 10);
    text-shadow: 1px 1px rgb(60, 8, 143);
    margin-top: auto;
    padding-bottom: 60%;
    padding-right: 30%;
    margin-right: 650px;
}
h3{
    color: rgb(136, 10, 10);
    text-shadow: 1px 1px rgb(60, 8, 143);
    margin-top: auto;
    padding-bottom: 60%;
    padding-right: 30%;
    margin-right: 650px; 
}
.container{
    position: relative;
    width: 100%;
    height: 60vh;
    background: rgb(184, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    width: 150%;
    height: 300px;
    max-width: 500px;
    background: rgb(187, 100, 100);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
    box-shadow: #fff;
    padding-top: 2%;
    padding-left: 2%;
    color: #fff;
}
button{
    color: red;
}
.first-text{
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.image{
    height: 160px;
    width: 160px;
}
.social-media{
    display: flex;
    list-style: none;
}
.social-media ul li{
    padding-left: 20px;
    font-size: 10px;
    margin-top: 10px;
}
.social-media i{
    background: #8f50ec;
    padding: 5px;
    border-radius: 5px;
}
.FAQs{
    background-color: rgb(235, 197, 197);
    color: rgb(99, 78, 78);
    text-shadow: 1px 1px rgb(233, 201, 201);
    
}
.footer_container{
    background-color: #fff;
}
.footer_socials{
    background-color: rgb(44, 38, 38);
    padding-right: 20%;
    padding-right: 5%;
    margin-bottom: 20%;
    width: auto;
}